---
SwitchChannel: 1
GreenChannel: 2
AlarmChannel: 3
HallLightChannel: 4

SwitchDelay: 0.5
MsgDelay: 2.5

octopus_devnode: "/dev/octopus"
lcd_devnode: "/dev/lcddisplay"

sinatra_base_url: "http://localhost:80"

