<html>
  <head>
    <title>Flat 10C - Access Control</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" >
  </head>
  <body>
    <div id="control_panel" class="box_frame">

      <h3>Flat 10C - Access Control</h3>

      <hr/>

      <form name="input" action="/action" method="post">

        <p><small>Please select your name and <br/>enter your password:</small></p>

        <ul class="login_fields">
          <li>User:</li>
          <li>
            <select name="user">
              <option></option>
              <%= user_select_options %>
            </select>
          </li>
        </ul>
        <ul class="login_fields">
          <li>Password:</li>
          <li>
            <input type="password" name="password" />
          </li>
        </ul>

        <hr/>

        <ul class="button_list">
          <li><input type="submit" name="action" class="action" value="Unlock Door" /></li>
          <li>
          <% if $hall_light_on %>
            <input type="submit" name="action" class="action" value="Turn Hall Light [OFF]" />
          <% else %>
            <input type="submit" name="action" class="action" value="Turn Hall Light [ON]" />
          <% end %>
          </li>
        </ul>

        <hr/>

        <p><small>Last unauthorized Octopus ID : </small></p>
        <p><small><%= $lastOctopusID.empty? ? "(none)" : $lastOctopusID %></small></p>
        <p><input type="submit" name="action" value="Edit Authorizations" /></p>

      </form>
    </div>
      <p><small>The time is <%= hk_time_fmt %> - <a href="/gettime">Update</a></small></p>
  </body>
</html>

